.speech {
    font-family: serif;
    font-size: 20px;
    color: black;
}

.direction:hover {
    font-family: Georgia, serif;
    font-size: 12 px;
    color: black;
    background-color: blanchedalmond;
}

.name {
    font-family: serif;
    font-size: 20px;
    color: black;
}

.philaminte { color: palevioletred;}
.armande { color: aquamarine;}
